---
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout title="Welcome to Astro.">
  <main class="flex w-full h-dvh shadow-lg bg-gray-900 text-gray-100">
    
  </main>
</Layout>
